<!DOCTYPE html>
<html>
<head>
    <title>Popup Example</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    {% if condition %}
    <div class="popup" id="popup">
        <div class="h2-center" id="h2-center">
            <h2>Erro ao gerar Script</h2>
        </div>
        <p>Você não pode marcar as checkboxes "Cercas" e "Rotas SP" simultaneamente.</p>
        <button onclick="closePopup()">Fechar</button>
    </div>
    {% endif %}
    {% if validate %}
    <div class="popup" id="popup">
        <div class="h2-center" id="h2-center">
            <h2>Erro ao gerar Script</h2>
        </div>
        <p>Você deve inserir um nome para o Script.</p>
        <button onclick="closePopup()">Fechar</button>
    </div>
    {% endif %}
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            var popup = document.getElementById("popup");
            popup.style.display = "block";
        });

        function closePopup() {
            var popup = document.getElementById("popup");
            popup.style.display = "none";
            window.location.href = "/";
        }
    </script>
</body>
</html>
